@import '~bootstrap/scss/bootstrap';

// Color Pallete

  // Background Colors:
  $bg-primary: #42615a;
  $bg-secondary: #3b7b6c;
  $black: #000000;
  $transparent: rgba(0, 0, 0, 0);

  // Font Colors:
  $orange-primary: #d66251;
  $green-light: #51d696;
  $green-dark: #6ebd97;

  // Neon color Pallete
  $neon-font: #ffd8d8;
  $neon-mid: #f25757;
  $neon-far: #e50b0b;

// Font Details
  $fontSize: 14px;

body {
  background-image: url('assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  padding-top: 5%;
  main {
    width: 100%;
    .title {
      padding-bottom: $fontSize;
    }
    .content-pallete {
      bottom: 10%;
      border-radius: 10%;
      top: 10%;
    }
    h1 {
      color: $orange-primary;
      font-family: 'Fascinate Inline', cursive;
      font-size: $fontSize * 5;
      line-height: $fontSize * 6;
      text-align: center;
      }
    h3 {
      font-family: 'Shodows into light';
      font-size: $fontSize * 2.5;
      line-height: $fontSize * 3;
      text-align: center;
    }
    a {
      // font-family: 'shadows into light';
      color: $neon-font;
      text-align: right;
      font-size: $fontSize;
      line-height: $fontSize * 1.25;
      font-weight: lighter;
    }
    .sign-in-toggle {
      text-align: right;
      display: block;
      margin-top: $fontSize;
      margin-right: $fontSize;
      margin-bottom: $fontSize;
    }
    a:hover {
      color: $neon-font;
      font-weight: bold;
    }
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      button {
        background: $transparent;
        color: $neon-font;
        border: 1px $transparent;
        margin: 5%;
        padding: 5px;
        font-weight: lighter;
        font-size: $fontSize * 1.25;
      }
      button:hover {
        font-weight: bold;
      }
      input {
        border-radius: 15px;
        background: $black;
        color: $orange-primary;
        margin: $fontSize;
        height: $fontSize * 3;
        font-size: $fontSize;
        font-family: 'Permanent Marker';
        width: auto;
        text-align: center;
      }
      input::placeholder {
          color: white;
        }
      }
      #user-messages {
        text-align: center;
      }
    }
  .footer-signature {
    margin-top: $fontSize * 3;
    bottom: 0;
    height: $fontSize * 5;
    position: relative;
    text-align: center;
    width: 100%;
    }
  a {
    // font-family: 'shadows into light';
    color: $neon-font;
    text-align: right;
    font-size: $fontSize;
    line-height: $fontSize * 1.25;
    font-weight: lighter;
  }
  a:hover {
    color: $neon-font;
    font-weight: bold;
  }

  }

// Toggle active inactive display
.inactive {
  display: none;
}

// Pre-login Screen
.pre-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Logged in Screen
.logged-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bg-secondary;
  margin: auto;
  width: 40vw;
  border-radius: 20px;
  padding-bottom: 5%;

  h2 {
    // Global Alerts
    width: 30vw;
    border: $bg-secondary 3px solid;
    color: $orange-primary;
    font-family: 'Shadows Into Light', cursive;
    font-size: $fontSize;
    font-weight: 200;
    text-align: center;
    margin: 10% 5px;
    border-radius: 15px;
    background: $bg-primary;
    border-radius: 15px;
  }

  button {
    text-align: center;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 20px;
    background: $orange-primary;
    color: $bg-primary;
    border: $green-light;
    font-family: 'Permanent Marker', cursive;
    font-size: $fontSize;
    width: 15vw;
  }

  button:hover {
    background: $bg-primary;
    color: $orange-primary;
    border: $orange-primary 2px solid;
  }
}

.user-settings-active {
  display: none;

  form {
    display: inline;
    display: flex;
    padding: 15%;
    flex-direction: column;
    background: $bg-secondary;
    border-radius: 20px;
    width: 80vw;
    text-align: center;
    margin-bottom: 105px;

    h2 {
      color: $green-light;
      font-family: 'Shadows Into Light', cursive;
      font-size: $fontSize;
      font-weight: bold;
      margin-bottom: 35px;
      background: $bg-primary;
      border-radius: 20px;
    }

    h3 {
      background: #d65173;
      border-radius: 20px;
      font-family: 'Shadows Into Light', cursive;
      font-size: $fontSize;
    }

    p {
      color: $green-light;
      font-family: 'Shadows Into Light', cursive;
      font-size: $fontSize;
      font-weight: bold;
      padding: 15px 0 5px;
    }

    input {
      text-align: center;
      padding: 0 15px;
      margin: 5px 0;
      border-radius: 20px;
      background: $bg-primary;
      border: $green-light;
      color: $orange-primary;
      font-family: 'Permanent Marker', cursive;
    }

    input:hover {
      background: $green-dark;
    }

    input:focus {
      background: $green-light;
    }

    input:checked {
      background: $green-light;
    }

    button {
      width: 100%;
    }
  }
}

.game-menu-container {
  display: inline-block;
  margin: auto;
  text-align: center;
  width: 40vw;
}
// Global css


.hide {
  display: none;
}

.game-active {
  text-align: center;

  .game-board {
    display: inline-block;
    text-align: center;
    margin: 0 auto;

    .top {
      border-bottom: 3px $bg-primary solid;
    }

    .right {
      border-left: 3px $bg-primary solid;
    }

    .left {
      border-right: 3px $bg-primary solid;
    }

    .bot {
      display: inline-block;
      border-top: 3px $bg-primary solid;
    }
  }

  .game-space {
    display: inline-block;
    height: 15vh;
    width: 15vh;
    color: $orange-primary;
    font-family: 'Permanent Marker', cursive;
    font-size: $fontSize;
  }

  p {
    color: $orange-primary;
    font-family: 'Shadows Into Light', cursive;
    font-size: $fontSize;
    font-weight: bold;
    padding: 5px 0;
  }
}

.sub {
  text-align: center;
  background: $bg-primary;
  border-radius: 20px;
  padding-bottom: 5%;

  form {
    display: inline;
    display: flex;
    padding: 0;
    margin: auto;
    flex-direction: column;
    border-radius: 20px;
    width: 30vw;
    text-align: center;

    h3 {
      background: #d65173;
      border-radius: 20px;
      font-family: 'Shadows Into Light', cursive;
      font-size: $fontSize;
    }

    .description {
      width: 100%;
      background: $bg-secondary;
      margin: 0 auto 30px;
      font-weight: bold;
    }

    h2 {
      width: 100%;
      background: $bg-secondary;
      margin: 0 auto 30px;
    }

    p {
      color: $green-light;
      font-family: 'Shadows Into Light', cursive;
      font-size: $fontSize;
      font-weight: bold;
      padding: 15px 0 5px;
    }

    input {
      text-align: center;
      padding: 0 15px;
      margin: 5px auto;
      border-radius: 20px;
      background: $bg-secondary;
      border: $orange-primary 1px solid;
      color: $orange-primary;
      font-family: 'Permanent Marker', cursive;
    }

    input:hover {
      background: $green-dark;
    }

    input:focus {
      background: $green-light;
    }

    input:checked {
      background: $green-light;
    }

    button {
      background: $orange-primary;
      color: $bg-primary;
      border: none;
      border-radius: 20px;
      margin: 5% auto;
      padding: 5px;
      font-style: italic;
      font-family: 'Shadows Into Light', cursive;
      font-weight: bold;
      font-size: $fontSize;
    }
  }
}

#game-board-alert {
  color: $bg-secondary;
  font-family: 'Shadows Into Light', cursive;
  font-size: $fontSize;
  font-weight: bold;
  margin-bottom: 35px;
  background: $bg-primary;
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
}
// @media

// SFX

.neon-light-effect {
  color: $neon-font;
  text-shadow:
  .1vw 0 .25vw $neon-font, .2vw 0 .25vw $neon-font, .4vw 0 .25vw $neon-font,

  .1vw 0 0 $neon-mid, .2vw 0 0 $neon-mid, .4vw 0 0 $neon-mid,
  .1vw 0 .1vw $neon-mid, .2vw 0 .1vw $neon-mid, .4vw 0 .1vw $neon-mid,
  .1vw 0 2vw $neon-mid, .2vw 0 2vw $neon-mid, .4vw 0 2vw $neon-mid,

  .1vw 0 1vw $neon-far, .2vw 0 1vw $neon-far, .4vw 0 5vw $neon-far,
  .1vw 0 5vw $neon-far, .2vw 0 20vw $neon-far, .4vw 0 10vw $neon-far,
  .1vw 0 10vw $neon-far, .2vw 0 30vw $neon-far, .4vw 0 10vw $neon-far;
}

.footer-signature {
  color: $neon-font;
  text-shadow:
  .1vw 0 .25vw $neon-font, .2vw 0 .25vw $neon-font, .4vw 0 .25vw $neon-font,

  .1vw 0 0 $neon-mid, .2vw 0 0 $neon-mid, .4vw 0 0 $neon-mid,
  .1vw 0 .1vw $neon-mid, .2vw 0 .1vw $neon-mid, .4vw 0 .1vw $neon-mid,
  .1vw 0 2vw $neon-mid, .2vw 0 2vw $neon-mid, .4vw 0 2vw $neon-mid,

  .1vw 0 1vw $neon-far, .2vw 0 1vw $neon-far, .4vw 0 5vw $neon-far,
  .1vw 0 5vw $neon-far, .2vw 0 20vw $neon-far, .4vw 0 10vw $neon-far,
  .1vw 0 10vw $neon-far, .2vw 0 30vw $neon-far, .4vw 0 10vw $neon-far;
}

.neon-outline {
  box-shadow:
  0 0 0.1vw 0.4vw $neon-font,
  0 0 0.4vw 0.6vw $neon-mid,
  0 0 4vw 0.6vw $neon-far,

  inset 0 0 1.5vw 0.4vw $neon-font,
  inset 0 0 0.4vw 0.2vw $neon-mid,
  inset 0 0 0.5vw 0.2vw $neon-far;
  padding: $fontSize;
  margin: $fontSize;
}

// Animations

// @keyframes fadeIn {
//   0% {
       // background-image: url('assets/images/bg.jpg');
//     background-color: $black;
//   }
//
//   100% {
//     background-color: url('assets/images/bg.jpg');
//   }
// }
